* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
}

/* ---------------- HEADER ----------------- */

header {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 20px 0;
  border-bottom: 3px solid #555;
  position: relative;
}

header a {
  color: #fff;
  cursor: pointer;
}
.menu-mobile .menu-button li {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
}
.left {
  display: flex;
  gap: 10px;
  padding: 0 10px;
}
.left .nav-left {
  display: none;
}

.left .logo {
  display: flex;
  align-items: center;
}
.right .nav-right {
  display: flex;
  align-items: center;
}
.right .nav-right a {
  margin: 0 10px;
}
.right .nav-right a:last-child {
  color: #000;
  background-color: #fff;
  border-radius: 12px;
  padding: 5px;
  width: 100px;
  text-align: center;
}
.right .nav-right a:last-child i {
  padding: 0 5px;
}

header .search-form {
  position: absolute;
  top: -50px;
  opacity: 0; /* height of header + search bar*/
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #000;
  transition: opacity 0.3s ease-in-out;
}

header .search-form.active {
  top: 85px;
  opacity: 1;
  border-bottom: 3px solid rgba(245, 245, 245, 0.5);
  transition: opacity 0.3s ease-in-out;
}

header .search-form form {
  display: flex;
  gap: 22px;
}
header .search-form form input {
  padding: 10px 12px;
  border-radius: 20px;
  border: none;
}
/* ---------------- HOME ----------------- */
.navigation a::after {
  content: "";
  height: 0;
  position: absolute;
  display: block;
  background-color: #fff;
  width: 0;
  margin-top: 3px;
  transition: all 0.5s ease-in;
}

.navigation a.selected::after {
  height: 3px;
  width: 100%;
  transition: all 0.5s ease-in;
}
section {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.container-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section#home {
  display: none;
}

section#home {
  background-color: #000;
  color: #fff;
  position: absolute;
}

.navigation {
  display: flex;
  gap: 20px;
  padding: 25px 0;
  background-color: transparent;
  height: max-content;
  transition: background 0.8s;
}

.navigation a {
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
}

section#home .text-box {
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

section#home .text-box .title h2 {
  font-weight: 400;
  font-size: 1.125rem;
}

section#home .text-box .main-info span {
  font-size: 1.8rem;
  font-weight: 500;
}

section#home .text-box .sub-info span {
  font-weight: 400;
  font-size: 1.125rem;
}

section#home .text-box .button-buy button#comprar {
  width: 180px;
  padding: 5px 12px;
  background-color: lime;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
}

section#home .text-box .button-buy button#comprar a {
  color: #fff;
  text-transform: uppercase;
}

section#home .img-box img {
  max-width: 400px;
}

/* ---------------- MODO ON ----------------- */

section#mode-on {
  display: none;
}

section#mode-on {
  background-color: green;
  color: #fff;
  position: absolute;
}

section#mode-on .text-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section#mode-on .text-box .title h2 {
  font-weight: 400;
  font-size: 1.125rem;
}

section#mode-on .text-box .main-info {
  font-weight: 500;
  font-size: 1.8rem;
}

section#mode-on .text-box .main-info ul li {
  list-style: disc;
  margin-left: 25px;
}

section#mode-on .text-box .sub-info {
  font-weight: 400;
  font-size: 1.125rem;
}

section#mode-on .text-box .button-buy button#comprar {
  width: 180px;
  padding: 5px 12px;
  background-color: orange;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
}

section#mode-on .text-box .button-buy button#comprar a {
  color: #fff;
  text-transform: uppercase;
}

section#mode-on .img-box img {
  max-width: 400px;
}

/* ---------------- MODO OFF ----------------- */

section#mode-off {
  display: none;
}

section#mode-off {
  background-color: orange;
  color: #fff;
  position: absolute;
}

section#mode-off .text-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section#mode-off .text-box .title h2 {
  font-weight: 400;
  font-size: 1.125rem;
}

section#mode-off .text-box .main-info {
  font-weight: 500;
  font-size: 1.8rem;
}

section#mode-off .text-box .main-info ul li {
  list-style: disc;
  margin-left: 25px;
}

section#mode-off .text-box .sub-info {
  font-weight: 400;
  font-size: 1.125rem;
}

section#mode-off .text-box .button-buy button#comprar {
  width: 180px;
  padding: 5px 12px;
  background-color: green;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
}

section#mode-off .text-box .button-buy button#comprar a {
  color: #fff;
  text-transform: uppercase;
}

section#mode-off .img-box img {
  max-width: 400px;
}

@media (min-width: 1000px) {
  header {
    width: 100%;
    padding: 50px 30px 30px 0;
  }
  .menu-button {
    display: none;
  }
  .left {
    display: flex;
    gap: 50px;
  }
  .left .nav-left {
    display: flex;
    gap: 30px;
  }
  .left .nav-left a {
    color: #fff;
  }

  /* SECTION */
  section {
    width: 100%;
    height: 100vh;
  }
  .container-menu {
    display: flex;
    justify-content: start;
    max-width: 1000px;
    margin: 0 auto;
  }
  .container-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .container-content .text-box {
    width: 30%;
  }

  header .search-form form {
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    padding: 10px 0 25px 0;
  }

  header .search-form form input:first-child {
    width: 50%;
  }
}
