/* -------------- GERAL ---------------- */
:root {
  font-size: 16px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: blueviolet;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 15px 0 15px 0;
}
.main-container {
  max-width: 85%;
}
section .right-column img {
  max-width: 400px;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

/* -------------- BODY ---------------- */

.title {
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
  padding: 5px;
}
ul.lista li {
  margin: 10px 0 10px 30px;
  list-style-type: disc;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}
ul.lista h5 {
  color: #fff;
}
h5 {
  color: #fff;
  font-size: 1.2rem;
}
/* -------------- MAIN ---------------- */
.main {
  background-color: blueviolet;
}
.main .logo img {
  max-width: 200px;
}
.main-container .left-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main-container .left-column .bold {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
.main-container .left-column .light {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
}
.main-container .left-column button {
  width: 100%;
  padding: 10px;
  background-color: limegreen;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
.main-container .left-column button a {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #fff;
}

/* -------------- MODO ON ---------------- */

.modo-on {
  background-color: rgb(89, 24, 89);
}
/* .modo-on .right-column {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
} */

.modo-on .right-column .imagem-primaria {
  padding: 5px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px 10px #00ff00,
              inset 0 0 5px 3px #00ff00;*/
}

/* -------------- GALERIA ---------------- */
.gallery {
  background-color: blueviolet;
}
.gallery .main-container .images {
  display: flex;
  flex-direction: column;
}
.gallery .main-container .images img {
  max-width: 300px;
}
.gallery .subtitle {
  margin: 15px 0;
}
.gallery .subtitle h5 {
  color: #fff;
}
.gallery .button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.gallery .button button {
  width: 80%;
  padding: 15px;
  background-color: limegreen;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
.gallery .button button a {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #fff;
}

/* -------------- MODO OFF ---------------- */

.modo-off {
  background-color: rgb(89, 24, 89);
}

/* -------------- MEDIA ---------------- */

@media (min-width: 760px) {
  section .right-column img {
    max-width: 550px;
  }

  .gallery .main-container .images {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0;
  }
}

@media (min-width: 1400px) {
  .main-container {
    max-width: 80%;
    margin: 30px;
  }
  section .right-column img {
    max-width: 500px;
  }
  section .main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  section .main-container .left-column {
    width: 50%;
  }
  section .main-container .right-column {
    width: 50%;
  }
  section.main {
    gap: 0;
  }

  section.modo-on .main-container .right-column,
  section.modo-off .main-container .right-column {
    align-items: center;
  }
  .modo-on .main-container {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .modo-on .right-column .imagem-secundaria img {
    max-width: 220px;
  }
  h5 {
    font-size: 1.2rem;
    color: #fff;
  }
  .modo-off .main-container {
    flex-direction: row-reverse;
  }
  .modo-off ul.lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .gallery .main-container {
    flex-direction: column;
  }
  .main-container .left-column .light {
    font-size: 1.8rem;
    font-weight: 300;
  }
  .main-container .left-column .bold {
    font-size: 2.4rem;
  }
  ul.lista li {
    font-size: 2.2rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  .gallery .button button {
    width: 50%;
  }
  .main-container .left-column button {
    padding: 15px;
  }
  .gallery .button button a,
  .main-container .left-column button a {
    font-size: 1.8rem;
  }
  section.gallery {
    margin: 65px 0;
  }
  .title {
    font-size: 2rem;
  }
  .logo {
    display: flex;
    align-items: flex-start;
    width: 80%;
  }
}
